/* General Reset */
:root {
    --primary-color: darkblue;
    --secondary-color: whitesmoke;
    --tertiary-color: black;
    --default-color: #eef0f4;
    --optional-color:lightblue;
    --optional2-color: #f90a39;
    --text-color: black;
    --calnder-text-color: #1d1d1d;
    --bg-color: #f1f1fb;
  }
/* Basic resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* base settings */
html {
  font-size: 50%;
  box-sizing: border-box;
}
  /* Base Styles */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #333;
    background-color: var(--default-color);
    line-height: 1.6;
    overflow-x: hidden;
    font-size: 1.8rem;
  }

  .wayfinding{
    text-align: left;
    font-size: large;
    color: black;
    
  }
  /* Header  */

  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-color);
    color: white;
    padding: 10px 20px;
    position: relative;
    z-index: 1000
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }
  
  .nav-links li a.active {
    color: white;
    font-weight: bold;
    background-color: #333;
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }
  

  
  
    /* Main Section */
    main {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
    
  /* Footer Styles */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #ecf0f1;
  }
  
  .footer div {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    text-align: center;
  }
  
  .footer a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer .social-media a {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .footer .social-media a:hover {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
/* ----------------------------------------------------- */
/* ---------------------- HOME PAGE SECTION --------------- */
/* ----------------------------------------------------- */



/* Main Section */
main {
  padding: 20px;
}
section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--tertiary-color);
}



/* Main content styles */
.hero-image {
  width: 100%;
  height: auto;
}
.hero {
    position: relative;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    background-color:darkblue;
    width: 100%;
    padding: 3rem 0;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 8px;
  
}

.hero-content p {
  margin-bottom: 1rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.weather-card,
.events,.empty
{
  background: var(--secondary-color);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 8px;
}
.card {
  flex: 1;
  background: var(--primary-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card h2 {
  background: var(--primary-color);
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* Weather Pseudo-element */
.weather h2::after {
  content: '\2601'; /* Cloud icon */
  font-size: 1.5rem;
  margin-left: 10px;
}
/* Spotlight Container */
.spotlight-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* Spotlight Card */
.spotlight-card {
  flex: 1;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    text-align: center;
}

/* Hover effect */
.spotlight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Card Image */
.spotlight-card img {
  width: 80px; /* Full width */
  border-radius: 50%; /* Circular image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 0;
}

/* Card Title */
.spotlight-card h2 {
  font-size: 1em;
  margin: 0;
  justify-content: center;
}

/* Card Paragraphs */
.spotlight-card p {
  font-size: 0.5em;
  margin: 0;
}

  /* ----------------DIRECTORY PAGE SECTION --------------- */

  /* Toggle Buttons */
  .toggle-buttons {
    margin-bottom: 1rem;
  }
  
  .toggle-buttons button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .toggle-buttons button:hover {
    background-color: #1da1f2;
  }
.cta-button {
  display: inline-block;
  background-color: darkblue;
  color: whitesmoke;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: var(--optional2-color);
}



/* Grid and List Views */
.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Member Card Styles */
.member-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  text-align: left;
}

.member-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.member-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.member-card p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.member-card a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.member-card a:hover {
  text-decoration: underline;
}




/* ----------------------------------------------------- */
/* ---------------------- DISCOVERY PAGE SECTION --------------- */
/* ----------------------------------------------------- */


 /* JOIN SECTION */


/* ----------------------------------------------------- */
/* ---------------------- JOIN PAGE SECTION --------------- */
/* ----------------------------------------------------- */

join-page-body section,
.thankyou-page-body {
  background-color: #eef0f4;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d68c45' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

.join-page-body section {
  padding: 3em 2em;
}

.join-page-body .join-cta-text {
  font-family: var(--paragraph-font);
  font-style: italic;
  background-color: #fff;
  border-radius: 5px;
  padding: 1em 1.5em;
}

.form-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  box-shadow: var(--box-shadow-all-4sides-cleaner);
}

.form-container .svg-box {
  width: 70%;
}

.form-container .svg-box img {
  width: 100%;
  height: 80%;
}

.form-container form {
  background: var(--secondary-color);
  backdrop-filter: var(--blur-effect);
  width: 100%;
  padding-inline: 1em;
  padding-block-start: 0.75em;
  padding-block-end: 1.5em;
  border-radius: 0.5rem;

  display: grid;
}

.form-container form label.top {
  display: block;
  margin-block-start: 2.5rem;
}

.form-container form div,
.side-by-side {
  display: block;
}

.form-container form div {
  margin-block-start: 2.5rem;
  /* margin-block-end: .5rem; */
}

.side-by-side {
  padding-block-start: 1rem;
  display: flex;
  align-items: center;
  gap: 3px;
}

.form-container input[type="radio"] {
  width: 2rem;
  height: 2rem;
}

.asterisk {
  color: var(--optional2-color);
}

.form-container form input:not([type="radio"]) {
  width: 100%;
  max-width: 35rem;
  height: 4.4rem;
}

.form-container form label.top input:required {
  outline: 1px solid var(--optional2-color);
}

.form-container form label.top input:required:valid {
  outline-color: lime;
}

.form-container textarea {
  resize: vertical;
  width: 100%;
  max-width: 35rem;
}

.form-container form input:not([type="radio"]),
.form-container .form-container form textarea {
  display: block;
  color: #555;
  font-size: max(1.8rem, 1em);
  padding: 0.25em 0.5em;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.form-container form input:not(textarea) {
  line-height: 1;
}

.form-container form input:focus:not([type="radio"]),
.form-container form textarea:focus {
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
  outline: 3px solid transparent;
  transition: 180ms box-shadow ease-in-out;
}

.form-container form input[type="submit"] {
  border: none;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 1rem;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  box-shadow: var(--box-shadow-effect);
}

.benefits-box div {
  background-color: #fff;
  width: 80%;
  padding-block: 1.5em;
  padding-inline: 1.5em;
  border-radius: 1rem;
  margin: 0 auto;
}

.modal h2 {
  font-size: 2rem;
  font-family: var(--heading-font);
  text-align: center;
  margin-block-end: 1rem;
}

.modal ul {
  list-style: none;
  margin-inline-start: 1.5rem;
}

.modal ul ::marker {
  content: "✓ ";
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.membership-card h2 {
  text-align: center;
}

.membership-card button {
  width: 100%;
  padding-block: 0.5rem;
}

.modal-close {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #005fa3;
}

.thankyou-page-body section p {
  font-size: 2rem;
  background-color: #fff;
  padding: 1em 0.75em;
}

.summary-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 2rem 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-box h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
}

.summary-box ul {
  list-style-type: none;
  padding: 0;
}

.summary-box li {
  margin-bottom: 0.8rem;
  display: flex;
  gap: 3.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.summary-box li strong {
  font-weight: 600;
  color: #555;
}

.summary-box li span {
  color: #000;
  font-weight: 500;
}

.back-home-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.form-container .svg-box {
  width: 45%;
}

.form-box form {
  grid-template-columns: repeat(2, 1fr);
}

.form-box form .benefits-box {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
}

.form-box form .benefits-box div {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  THANK YOU  */

main  {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.thankyou-message {
  background-color: white;
  text-align: center;
}

.form-summary p {
  font-size: 1.2rem;
  margin: 0;
}

strong {
  color: #333;
}



.place_main {
  flex-direction: row;
  width: 80%;
  margin-top: 20px;
}
#sidebar {
  background-color: darkblue;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
} 


#places-container {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

button {
  background-color: darkblue;
  color: whitesmoke;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005f73; 
}


