

/* Main Section */
main {
  padding: 20px;
}
section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--tertiary-color);
}



/* Main content styles */
.hero-image {
  width: 100%;
  height: auto;
}
.hero {
    position: relative;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    background-color:darkblue;
    width: 100%;
    padding: 3rem 0;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 8px;
  
}

.hero-content p {
  margin-bottom: 1rem;
}

.cta-button {
  display: inline-block;
  background-color: darkblue;
  color: whitesmoke;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: var(--optional2-color);
}


.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.weather-card,
.events,.empty
{
  background: var(--neutral-color);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 8px;
}
.card {
  flex: 1;
  background: var(--neutral-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card h2 {
  background: var(--primary-color);
  color: var(--neutral-color);
  padding: 10px;
  text-align: center;
}

/* Weather Pseudo-element */
.weather h2::after {
  content: '\2601'; /* Cloud icon */
  font-size: 1.5rem;
  margin-left: 10px;
}
/* Spotlight Container */
.spotlight-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* Spotlight Card */
.spotlight-card {
  flex: 1;
    background: var(--neutral-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    text-align: center;
}

/* Hover effect */
.spotlight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Card Image */
.spotlight-card img {
  width: 80px; /* Full width */
  border-radius: 50%; /* Circular image */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 0;
}

/* Card Title */
.spotlight-card h2 {
  font-size: 1em;
  margin: 0;
  justify-content: center;
}

/* Card Paragraphs */
.spotlight-card p {
  font-size: 0.5em;
  margin: 0;
}

