/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-buttons {
    margin-top: 1rem;
  }
  .grid-view {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  /* Member Card Styles */
 .member-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  text-align: center;
 }

  .member-card img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .member-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .member-card p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .member-card a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      padding: 10px 0;
      border-radius: 5px;
  }
  .nav-links.active {
      display: flex;
  }
  .nav-links li {
      text-align: center;
      padding: 10px 0;
  }
  .join-container {
      grid-template-columns: 1fr;
  }
  .footer {
      flex-direction: column;
      text-align: center;
  }
  .footer div {
    margin-bottom: 20px;
  }
  .footer-address p {
    font-size: 1rem;
  }
  .social-media {
    gap: 0.8rem;
  }
  .social-media a {
    font-size: 1rem;
  }
  .hero-image {
    width: 250px;
    height: 150px;
  }
  .hero-content {
    flex: 1;
    padding-left: 2rem;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero {
    flex-direction: row;
    text-align: left;
    padding: 3rem;
  }

  .main-container {
    flex-direction: row;
    gap: 2rem;
  }
  .weather-card, .events, .empty, .business-list {
    flex-direction: column;
  }
  #buscards {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 15px;
  }
}

/* Large Screens */
@media (min-width: 1025px) {
  .hero {
    padding: 4rem;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  footer {
    padding-top: 10px;
  }
  footer p{
    font-weight: 20px;
  }
}

/* Grid Layout for Various Screen Sizes */
@media (min-width: 320px) and (max-width: 640px) {
  .container, #member-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8";
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .container #member-container  {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

@media (min-width: 1025px) {
  .container #member-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }
}
