


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


.thankyou-message {
    background-color: white;
    text-align: center;
}

.form-summary p {
    font-size: 1.2rem;
    margin: 0;
}

strong {
    color: #333;
}
